* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

body {
    font-family: sans-serif;
    min-width: 1200px;
}

/* debug  */

.debug {

    * {
        border: 1px dashed black;
    }

    header {
        background-color: lime;

    }
}

/* container */

.container {
    width: 80%;
    margin: auto;
}

/* flex */

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.c-align {
    align-items: center;
}

/* header */

header {
    padding: 1rem;

    a {
        color: black;
        margin-left: 1rem;
    }
}