* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

body {
    font-family: "Inter", sans-serif;
    min-width: 1200px;
}

/* debug  */

.debug {

    * {
        border: 1px dashed black;
    }

    header {
        background-color: lime;
    }

    .jumbo {
        display: none;
    }

    .sector {
        background-color: cyan;
    }

    .container {
        background-color: red;
        
    }

    .row {
        background-color: chocolate;
    }

    .col-3 {
        background-color: blueviolet;
    }
}

/* colors */

:root {
    --db-btn: #0061fe;
    --db-btn-text: white;
    --db-jumbo-bg: #b4d0e6;
    --db-btn-anytime: black;
}

/* layout */

.container {
    width: 60%;
    margin: auto;
}

.large {
    width: 70%;
}

.sector {
    width: 100%;
    min-width: 1200px;
}

.row{
    display: flex;
    margin: -0.1rem;
}

.col-3 {
    width: (100%/3);
    margin: auto;
    padding: 1rem;
}

/* flex */

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.c-align {
    align-items: center;
}

.column {
    flex-direction: column;
}

/* utilities */

.relative {
    position: relative;
}

/* header */

header {
    padding: 1rem;

    a {
        color: black;
        margin-left: 1rem;
    }

    .begin {
        background-color: var(--db-btn);
        color: var(--db-btn-text);
        padding: 0.4rem 1rem;
    }
}

/* jumbotron */

.jumbo {
    background-color: var(--db-jumbo-bg);
    margin: 0;
    
    h1 {
        padding-top: 4rem;
        font-size: 6rem;
        margin-bottom: 3rem;
        width: 1200px;
    }

    section {   
        width: 1200px;

        p {
            font-size: 0.9rem;
            width: 330px;
        }

        button {
            background-color: var(--db-btn);
            color: var(--db-btn-text);
            border: none;
            width: 10rem;
            padding: 0.5rem;
            margin: 3rem 0rem;
        }

        a {
            color: var(--db-btn-anytime);
            font-size: 0.9rem;
        }

        i {
            font-size: 2rem;
            margin-top: 6.5rem;
            margin-bottom: 1rem;
        }

        img {
            width: 850px;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
    
}

/* plans */

.plans {

    .col-3 {
        width: 30%;

        .top {
            padding: 0.2rem 5rem;

            p {
            }
        }

        .bottom {
            
            padding: 2rem 1rem;

            .pricing{
                line-height: 2rem;
                margin-bottom: 2rem;
            }

            i {
                margin-bottom: 1rem;
            }

            button {
                background-color: var(--db-btn);
                color: var(--db-btn-text);
                width: 100%;
                padding: 0.8rem 0rem;
                margin-top: 2rem;
            }
        }

    }
}